/* App.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* App.css */
body.dark-mode {
  background-color: #1e1e1e;
  color: #eaeaea;
}

.app.dark-mode .navbar {
  background-color: #333;
  color: #eaeaea;
}

.app.dark-mode .sidebar {
  background-color: #2b2b2b;
}

.app.dark-mode .main-content {
  background-color: #2b2b2b;
  color: #eaeaea;
  border-color: #444;
}
