/* Sidebar.css */
.sidebar {
  width: 200px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  transform: translateX(-100%);
  animation: slideIn 0.5s forwards;
  justify-content: space-between;
  max-width: 300px;
  min-width: 200px;
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}

.avatar-container {
  margin-bottom: 20px;
}

.avatar {
  width: 160px;
  height: 160px;
  border-radius: 8px;
  border: 4px solid #ff7300;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  object-fit: cover;
  transition: transform 0.9s ease;
}

.avatar:hover {
  transform: scale(1.05);
}
/* Sección de botones de contacto */
.contact-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espacio entre los botones */
  width: 100%;
}

/* Estilo para los botones */
.contact-button {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre el icono y el texto */
  background-color: #0077b5; /* Color de fondo */
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.3s;
  width: 155px; /* Define un ancho fijo */
  height: 50px;
}

.contact-button:hover {
  background-color: #FF7300; /* Fondo más claro al pasar el ratón */
  border-color: #8d8181; /* Añadimos un borde blanco al pasar el ratón */
}

/* Estilos específicos para cada botón */
.mail {
  background-color: #555;
}

.linkedin {
  background-color: #555
}

.github {
  background-color: #333;
}

.contact-button svg {
  margin-right: 10px; 
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}

.sidebar-menu li {
  margin: 25px 0;
  font-size: 17px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content:center;
  transition: color 0.3s ease;
}

.sidebar-menu li:hover {
  color: #ff7300;
}

.social-links {
  margin-top: 150px;
  display: flex;
  gap: 10px;
}

.social-links a {
  font-size: 24px;
  transition: opacity 0.3s ease;
  color: inherit;
}

.social-links a:hover {
  opacity: 0.7;
}


